****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## Imports for Python

In [2]:
# Import Pandas and Json modules
import pandas as pd
import json
from pandas.io.json import json_normalize

In [62]:
from collections import Counter
import numpy as np

## Import World Bank Projects Data

In [4]:
# Read source data

WB_data=pd.read_json(r'C:\Users\l_gas\Documents\Development\SpringBoard_DataScience\Unit5\MiniProject\1574117884_data_wrangling_json_5_\data_wrangling_json\data\world_bank_projects.json')

In [5]:
# Identify source data structure/type
print(type(WB_data))
print(WB_data.index)
print(WB_data.shape)
print(WB_data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=500, step=1)
(500, 50)
Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

In [6]:
WB_desc=WB_data.describe()
WB_desc.loc['count'] = WB_desc.loc['count'].astype(int)
WB_desc.loc[:,'approvalfy'] = WB_desc.loc[:,'approvalfy'].astype(int)
WB_desc.iloc[1:] = WB_desc.iloc[1:].applymap('{:.2f}'.format)
print(WB_desc)
WB_data.head()

         idacommamt   totalcommamt       totalamt approvalfy lendprojectcost  \
count           500            500            500        500             500
mean    35421360.00    72713860.00    68281460.00    2013.00    154724080.00
std     76814309.78   123470494.77   124266247.90       0.00    476421088.03
min            0.00       30000.00           0.00    1999.00        30000.00
25%            0.00     5000000.00           0.00    2013.00      6472500.00
50%            0.00    25000000.00    20000000.00    2013.00     35000000.00
75%     37000000.00    90450000.00    86250000.00    2013.00    102125000.00
max    600000000.00  1307800000.00  1307800000.00    2015.00   5170000000.00

           grantamt    ibrdcommamt
count           500            500
mean     4432400.00    32860100.00
std     20233072.58   108919680.10
min            0.00           0.00
25%            0.00           0.00
50%            0.00           0.00
75%      1695000.00           0.00
max    365000000.00  1307800000.00

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

## 1 - List the 10 countries with most projects

In [7]:
# First we need to confirm there is one entry for each project in the table. 
# One of the fields is the project name, so we check there are distinct names on each row.

proj_cnt=Counter(WB_data['project_name'])
proj_cnt.most_common(1)

[('Ethiopia General Education Quality Improvement Project II', 1)]

In [28]:
# Count the number projects per country and list the top 10 countries 
# along with the number of projects they have.

country_proj=Counter(WB_data['countryname'])
top10_countries=pd.DataFrame(country_proj.most_common(10))
top10_countries.columns=['Country Name', 'World Bank Projects']
top10_countries

                      Country Name  World Bank Projects
0       People's Republic of China                   19
1            Republic of Indonesia                   19
2    Socialist Republic of Vietnam                   17
3                Republic of India                   16
4                Republic of Yemen                   13
5               Kingdom of Morocco                   12
6                            Nepal                   12
7  People's Republic of Bangladesh                   12
8           Republic of Mozambique                   11
9                           Africa                   11

## 2 - List the top 10 major project themes

In [44]:
# The column mjtheme_namecode contains a list of dictionary type elements
WB_data['mjtheme_namecode'].head()

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

In [34]:
# The field mjtheme_namecode contains the code for the project theme. Note that each project may have more than one theme.
# Before counting projects under each theme we generate a dataframe with a column for the theme code, and a separate column for 
# the theme name. We also generate separate lines for every theme under each project.

mjtheme=WB_data['mjtheme_namecode']
mjtheme_df=pd.DataFrame()
for i in range(500):
    df_proj=pd.DataFrame(mjtheme[i])
    mjtheme_df=mjtheme_df.append(df_proj)
    
top10_themes=pd.DataFrame(Counter(mjtheme_df['code']).most_common(10))
top10_themes.columns=['Theme Code','Number of Projects']
print(top10_themes)

  Theme Code  Number of Projects
0         11                 250
1         10                 216
2          8                 210
3          2                 199
4          6                 168
5          4                 146
6          7                 130
7          5                  77
8          9                  50
9          1                  38

In [39]:
type(mjtheme)

pandas.core.series.Series

In [40]:
mjtheme.describe()

count                                                   500
unique                                                  342
top       [{'code': '11', 'name': 'Environment and natur...
freq                                                     12
Name: mjtheme_namecode, dtype: object

In [50]:
pd.set_option('display.max_colwidth', -1)
projthm = WB_data[['mjtheme','mjthemecode','mjtheme_namecode']]
print(projthm.head(10))
print(projthm.describe())

                                                                                                                                  mjtheme  \
0  [Human development]
1  [Economic management, Social protection and risk management]
2  [Trade and integration, Public sector governance, Environment and natural resources management, Social protection and risk management]
3  [Social dev/gender/inclusion, Social dev/gender/inclusion]
4  [Trade and integration, Financial and private sector development]
5  [Social protection and risk management]
6  [Public sector governance, Financial and private sector development]
7  [Environment and natural resources management]
8  [Rural development]
9  [Public sector governance, Public sector governance, Public sector governance]

  mjthemecode  \
0  8,11
1  1,6
2  5,2,11,6
3  7,7
4  5,4
5  6,6
6  2,4
7  11,8
8  10,7
9  2,2,2

                                                                                                                                                                                                                              mjtheme_namecode
0  [{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]
1  [{'code': '1', 'name': 'Economic management'}, {'code': '6', 'name': 'Social protection and risk management'}]
2  [{'code': '5', 'name': 'Trade and integration'}, {'code': '2', 'name': 'Public sector governance'}, {'code': '11', 'name': 'Environment and natural resources management'}, {'code': '6', 'name': 'Social protection and risk management'}]
3  [{'code': '7', 'name': 'Social dev/gender/inclusion'}, {'code': '7', 'name': 'Social dev/gender/inclusion'}]
4  [{'code': '5', 'name': 'Trade and integration'}, {'code': '4', 'name': 'Financial and private sector development'}]
5  [{'code': '6', 'name': 'Social protection and risk management'}, {'code': '6', 'name': ''}]
6  [{'code': '2', 'name': 'Public sector governance'}, {'code': '4', 'name': 'Financial and private sector development'}]
7  [{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '8', 'name': ''}]
8  [{'code': '10', 'name': 'Rural development'}, {'code': '7', 'name': ''}]
9  [{'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}]
                    mjtheme mjthemecode  \
count   491                  500
unique  290                  312
top     [Human development]  11,11
freq    25                   17

                                                                                                                                        mjtheme_namecode
count   500
unique  342
top     [{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '11', 'name': 'Environment and natural resources management'}]
freq    12

## 3 - Create a Data Frame with no missing project theme description

In [70]:
# The field mjtheme_namecode contains the code for the project theme. Note that each project may have more than one theme.
# Before counting projects under each theme we generate a dataframe with a column for the theme code, and a separate column for 
# the theme name. We also generate separate lines for every theme under each project.
# Note there seem to be duplicates in the list of themes.

mjtheme=WB_data['mjtheme_namecode']
mjtheme_df=pd.DataFrame()
for i in range(500):
    df_proj=pd.DataFrame(mjtheme[i])
    df_proj['rownum'] = i
    mjtheme_df=mjtheme_df.append(df_proj)

print("")
print("Code - Name combination after dropping duplicates but without substituting empty names with missing values")
print(mjtheme_df.info())
print(mjtheme_df[['code','name']].drop_duplicates().sort_values('code'))

print("")
print("Code - Name combination after substituting empty names with missing values and dropping duplicates")
mjtheme_df=mjtheme_df.replace(r'^\s*$', np.nan, regex=True).drop_duplicates()
print(mjtheme_df.info())
print(mjtheme_df[['code','name']].drop_duplicates().sort_values('code'))

Code - Name combination after dropping duplicates but without substituting empty names with missing values
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 0 to 3
Data columns (total 3 columns):
code      1499 non-null object
name      1499 non-null object
rownum    1499 non-null int64
dtypes: int64(1), object(2)
memory usage: 46.8+ KB
None
  code                                          name
0  1    Economic management
1  1
1  10
0  10   Rural development
1  11
2  11   Environment and natural resources management
1  2    Public sector governance
1  2
1  3
1  3    Rule of law
0  4
1  4    Financial and private sector development
0  5    Trade and integration
1  5
1  6    Social protection and risk management
1  6
1  7
0  7    Social dev/gender/inclusion
0  8    Human development
1  8
0  9
0  9    Urban development

Code - Name combination after substituting empty names with missing values and dropping duplicates
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1085 entries, 0 to 3
Data columns (total 3 columns):
code      1085 non-null object
name      963 non-null object
rownum    1085 non-null int64
dtypes: int64(1), object(2)
memory usage: 33.9+ KB
None
  code                                          name
0  1    Economic management
1  1    NaN
1  10   NaN
0  10   Rural development
1  11   NaN
2  11   Environment and natural resources management
1  2    Public sector governance
1  2    NaN
1  3    NaN
1  3    Rule of law
0  4    NaN
1  4    Financial and private sector development
0  5    Trade and integration
1  5    NaN
1  6    Social protection and risk management
1  6    NaN
1  7    NaN
0  7    Social dev/gender/inclusion
0  8    Human development
1  8    NaN
0  9    NaN
0  9    Urban development

In [71]:
# Fill missing values (note empty theme names are not identified as missing value)

mjtheme_df=mjtheme_df.replace(r'^\s*$', np.nan, regex=True).drop_duplicates().sort_values(['code','name'])

mjtheme_df['MissName'] = mjtheme_df['name'].isnull().astype(int)
print(mjtheme_df.groupby('code')['MissName'].sum())
print(mjtheme_df.groupby('code')['name'].count())

maxfill = pd.DataFrame(Counter(mjtheme_df['code']).most_common()).iloc[-1,1]
print(maxfill)
#print(Counter(mjtheme_df['name'],nan=TRUE).most_common())

mjtheme_df = mjtheme_df.fillna(method='ffill',limit=maxfill)
print(mjtheme_df[['code','name']].drop_duplicates().sort_values('code'))

code
1     5
10    14
11    27
2     15
3     3
4     16
5     5
6     10
7     11
8     13
9     3
Name: MissName, dtype: int32
14
[('Rural development', 135), ('Environment and natural resources management', 135), ('Public sector governance', 126), (nan, 122), ('Human development', 118), ('Social protection and risk management', 110), ('Financial and private sector development', 104), ('Social dev/gender/inclusion', 103), ('Trade and integration', 56), ('Urban development', 37), ('Economic management', 28), ('Rule of law', 11)]
  code                                          name
0  1    Economic management
0  10   Rural development
2  11   Environment and natural resources management
1  11   NaN
1  2    Public sector governance
1  2    NaN
1  3    Rule of law
1  4    Financial and private sector development
1  4    NaN
0  5    Trade and integration
1  6    Social protection and risk management
0  7    Social dev/gender/inclusion
0  8    Human development
0  9    Urban development

In [66]:
print(Counter(mjtheme_df['code']))
min_val=Counter(mjtheme_df['code'])[-1]
print(min_val)

## Note that some names are missing. Sorting place missing values first so we use backward fill.
#print(mjtheme_df.head(10))
#mjtheme_df=mjtheme_df.sort_values(['code','name'])
#print(mjtheme_df.fillna(method='bfill',limit=).head(10))

Counter({'11': 162, '10': 149, '2': 141, '8': 131, '6': 120, '4': 120, '7': 114, '5': 61, '9': 40, '1': 33, '3': 14})
0

In [20]:
# Count the number of projects under each theme and list the top 10.
proj_themes=Counter(mjtheme_df['code'])
proj_themes_df=pd.DataFrame(proj_themes.most_common(10))
proj_themes.columns=['Project Theme', 'World Bank Projects']
proj_themes_df

    0    1
0  11  250
1  10  216
2   8  210
3   2  199
4   6  168
5   4  146
6   7  130
7   5   77
8   9   50
9   1   38

In [21]:
# Run a similar count but using the theme names
proj_themes=Counter(mjtheme_df['name'])
proj_themes_df=pd.DataFrame(proj_themes.most_common(10))
proj_themes.columns=['Project Theme', 'World Bank Projects']
proj_themes_df

                                              0    1
0  Environment and natural resources management  223
1                             Rural development  202
2                             Human development  197
3                      Public sector governance  184
4         Social protection and risk management  158
5      Financial and private sector development  130
6                                                122
7                   Social dev/gender/inclusion  119
8                         Trade and integration   72
9                             Urban development   47